@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.beginnerButton {
    width: 620px;
    height: 70px;
    flex-shrink: 0;
    margin-top: 60px;
    margin-bottom: 20px;

    box-sizing: border-box;
    /* deep green */
    background: #378CD7;
    /* deep green */
    border: 2px solid #5EA0DF;
    border-radius: 35px;

    /* Create */

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    /* identical to box height */

    /* grayish white */
    color: #FFF;
    text-align: center;
}

.juniorButton {
    width: 620px;
    height: 70px;
    flex-shrink: 0;
    margin-top: 20px;
    margin-bottom: 20px;

    box-sizing: border-box;
    /* deep green */
    background: #EC0A8C;
    /* deep green */
    border: 2px solid #FCDCEE;
    border-radius: 35px;

    /* Create */

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    /* identical to box height */

    /* grayish white */
    color: #FFF;
    text-align: center;
}

.seniorButton {
    width: 620px;
    height: 70px;
    flex-shrink: 0;
    margin-top: 20px;
    margin-bottom: 20px;

    box-sizing: border-box;
    /* deep green */
    background: #41A72E;
    /* deep green */
    border: 2px solid #6BBF55;
    border-radius: 35px;

    /* Create */

    font-family: 'Rubik', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    /* identical to box height */

    /* grayish white */
    color: #FFF;
    text-align: center;
}