@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
.navbar {
        /* Rectangle 3 */
        position: absolute;
    width: 1440px;
    height: 91px;
    left: 0px;
    top: 0px;

    /* grayish white */
    background: #EBE9E5;
}

.navbar_links {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  flex-wrap: nowrap; 
  white-space: nowrap;
}

/* Shared link styles */
.navbar_links .cal a {
    position: absolute;
    width: 137px;
    height: 22px;
    left: 930px;
    top: 34px;

    font-family: 'Bungee';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    /* deep blue */
    color: #0474D3;
}

.navbar_links .prog a {
    /* MY Progress */
    position: absolute;
    width: 134px;
    height: 22px;
    left: 1111px;
    top: 34px;

    font-family: 'Bungee';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    /* deep blue */
    color: #0474D3;
}

.navbar_links .acc a {
    /* MY ACCOUNT */
    position: absolute;
    width: 125px;
    height: 22px;
    left: 1288px;
    top: 34px;

    font-family: 'Bungee';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */

    /* deep blue */
    color: #0474D3;
}

.navbar_links a:hover {
  text-decoration: underline;
}

    /* logo 1 */
.logo-section {
    display: flex;
    align-items: center;
    margin-right: auto;
    gap: 10px
}

.logo {
    position: absolute;
    width: 218px;
    height: 50px;
    left: 30px;
    top: 20px;
    background: url(logo.png);
}
